/********************** ANIMACIONES ***********************/

.underbar {
    width: 0;
    height: 5px;
    background: rgba(100, 100, 200, 0);
    position: absolute;
    transition: 0.5s ease;
    top: 58px;
    left: 0;
}

li:nth-of-type(1):hover~.underbar {
    width: 30px;
    background: #6464c8;
    left: 80px;
}

li:nth-of-type(2):hover~.underbar {
    width: 40px;
    background: #c86464;
    left: 195px;
}

li:nth-of-type(3):hover~.underbar {
    width: 50px;
    background: #c81418;
    left: 320px;
}

li:nth-of-type(4):hover~.underbar {
    width: 60px;
    background: #c98418;
    left: 435px;
}

@media screen and (max-width: 575px) {
    .underbar {
        top: 45px;
        left: 0;
    }
    li:nth-of-type(1):hover~.underbar {
        width: 30px;
        left: 50px;
    }
    li:nth-of-type(2):hover~.underbar {
        width: 30px;
        left: 170px;
    }
    li:nth-of-type(3):hover~.underbar {
        width: 30px;
        left: 295px;
    }
    li:nth-of-type(4):hover~.underbar {
        width: 30px;
        left: 420px;
    }
}


/********************** ANIMACIONES ***********************/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/**************************** SCROLLBAR *****************************/

#container::-webkit-scrollbar {
    width: 0em;
}

#container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media screen and (max-width: 575px) {
    #container::-webkit-scrollbar {
        width: 0em;
    }
}


/**************************** SCROLLBAR *****************************/

body {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0 3%;
    background-image: url('../images/bg_2.jpg');
    overflow: hidden;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 22px;
}

a:hover {
    color: lightsalmon;
    animation: small-jump 1.4s;
}

header,
footer {
    background: black;
    color: white;
}

header a,
footer a {
    color: white;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}


/**************************** BARRA DE NAVEGACION *****************************/

.main-nav {
    display: flex;
    align-items: center;
    color: gray;
    border-radius: 3px;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
}

.main-nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav li {
    margin-right: 1em;
}

#mobile {
    display: none;
}

@media screen and (max-width: 575px) {
    body {
        padding: 0;
    }
    header {
        padding: 0;
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: flex;
    }
    .main-nav {
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
        padding: .5em;
        height: 60px;
    }
    .main-nav ul {
        color: gray;
        top: 15px;
        z-index: 2;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        justify-items: center;
        list-style: none;
        width: 100vw;
    }
}


/**************************** BARRA DE NAVEGACION *****************************/


/********************** CONTAINER ***********************/

#container {
    max-height: 100vh;
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}


/********************** CONTAINER ***********************/


/********************** FOTO BANNER ***********************/

#main-photos {
    order: 1;
}

#main-photos>article {
    background-image: url('../images/hero_b1_1.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-items: center;
}

#main-photos h1 {
    font-size: 7vh;
    font-weight: bold;
}

#main-photos span {
    font-size: 4vh;
    font-weight: bold;
}


/********************** FOTO BANNER ***********************/


/********************** GALERIA DE FOTOS ***********************/

#gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    order: 3;
}

#gallery section {
    width: max-content;
    font-size: xx-large;
    width: 100%;
    color: gray;
}

#gallery>article {
    width: 400px;
    border: 1px solid lightgray;
    padding: 0;
    margin: 10px;
}

#gallery>article img {
    width: 398px;
}

#gallery>article div h2 {
    font-size: 1em;
}

#gallery>article div p {
    font-size: .5em;
    margin: 30px;
}

#gallery>article div p a {
    border: 1px solid gray;
    color: white;
    background-color: gray;
    font-size: 1em;
    padding: 8px;
    border-radius: 10%;
}

#gallery>article div p a:hover {
    background-color: lightsalmon;
}


/********************** GALERIA DE FOTOS ***********************/


/********************** FOTO DE CARA ***********************/

#photo-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    order: 2;
    height: 50vh;
    color: white;
}

#photo-face article {
    background-image: url('../images/cara.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

#photo-face h2 {
    font-size: 28px;
}

#photo-face p {
    font-size: 16px;
    margin: 25px;
}

#photo-face a {
    border: 1px solid lightcyan;
    color: gray;
    background-color: lightcyan;
    font-size: 1em;
    padding: 8px;
    border-radius: 10%;
}

#photo-face a:hover {
    border: 1px solid darkcyan;
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}


/********************** FOTO DE CARA ***********************/


/********************** CURRICULUM ***********************/

[id^='curriculum-'] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    order: 1;
    background-color: lightgrey;
    margin-bottom: 8rem;
}

[id^='curriculum-'] article {
    order: 1;
    width: 70%;
    font-size: large;
    background-color: white;
}

[id^='curriculum-'] h1 {
    text-align: center;
}

[id^='curriculum-'] article ul li {
    margin: 20px auto;
}

[id^='curriculum-'] article section h1 {
    font-size: 34px;
}

[id^='curriculum-'] aside {
    order: 2;
    width: 30%;
    padding: 0;
    display: flex;
    align-items: center;
}

[id^='curriculum-'] aside img {
    width: 30vw;
}

@media screen and (max-width: 575px) {
    [id^='curriculum-'] {
        flex-direction: column;
    }
    [id^='curriculum-'] article {
        width: 100%;
    }
    [id^='curriculum-'] aside {
        width: 100vw;
    }
    [id^='curriculum-'] aside img {
        width: 100vw;
    }
}


/********************** CURRICULUM ***********************/


/********************** FOOTER ***********************/

footer {
    order: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    height: 300px;
}

footer h3 {
    font-size: 24px;
}

footer div:nth-child(1) {
    order: 1;
    height: auto;
    width: 250px;
    margin-bottom: 2rem;
}

footer div:nth-child(1) p {
    margin: 35px 0;
}

footer div:nth-child(1) a {
    border: 1px solid darkcyan;
    color: white;
    background-color: darkcyan;
    font-size: 1em;
    padding: 8px;
    border-radius: 10%;
}

footer div:nth-child(2) {
    order: 2;
    height: auto;
    width: 250px;
    margin-bottom: 2rem;
}

footer div:nth-child(2) ul li {
    margin: 10px 0;
}

footer div:nth-child(2) ul li a {
    font-size: 18px;
}

footer div:nth-child(2) ul li a:hover {
    color: lightsalmon;
}

footer div:nth-child(3) {
    order: 3;
    height: auto;
    width: 250px;
    margin-bottom: 2rem;
}

footer div:nth-child(3) div a {
    margin: 0 10px;
}

@media screen and (max-width: 575px) {
    footer {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        text-align: center;
        height: 700px;
    }
    footer div:nth-child(2) ul {
        list-style: none;
    }
    footer div:nth-child(1) {
        margin-top: 0;
        width: 100vw;
        height: auto;
    }
    footer div:nth-child(2) {
        width: 100vw;
        height: auto;
    }
    footer div:nth-child(3) {
        width: 100vw;
        height: auto;
    }
}


/********************** FOOTER ***********************/


/********************** CONTACTO ***********************/

#header-title {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
}

#container-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

#container-contact section:nth-child(1) {
    background-color: white;
    width: 64vw;
    height: 65vh;
    padding: 1vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#container-contact section:nth-child(1) form {
    margin: 0 auto;
}

#container-contact section:nth-child(1) div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-around;
    margin: 2rem auto;
    text-align: start;
}

#container-contact section:nth-child(1) div label {
    order: 1;
    width: 150px;
}

#container-contact section:nth-child(1) div input,
#container-contact section:nth-child(1) div textarea {
    order: 2;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 2rem;
    padding: 10px;
    width: 30vw;
}

#container-contact section:nth-child(1) div input[type='submit'] {
    background-color: lightcyan;
    color: black;
    width: 20vw;
    margin: 0 0 0 11vw;
}

#container-contact section:nth-child(1) div input[type='submit']:hover {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

#container-contact section:nth-child(1) div textarea {
    height: max-content;
}

#container-contact section:nth-child(2) {
    background-color: lightgrey;
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#place-train {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#place-train section:nth-child(1) {
    background-color: cornflowerblue;
    width: 100vw;
    text-align: center;
}

#place-train section:nth-child(2) iframe {
    width: 100vw;
}

@media screen and (max-width: 575px) {
    #container-contact section:nth-child(1) {
        background-color: white;
        width: 100vw;
        height: 100vh;
        padding: 3vw;
    }
    #container-contact section:nth-child(1) div label {
        width: 80vw;
        text-align: center;
    }
    #container-contact section:nth-child(1) div input,
    #container-contact section:nth-child(1) div textarea {
        width: 80vw;
        margin: 1rem;
    }
    #container-contact section:nth-child(1) div input[type='submit'] {
        width: 80vw;
        margin: 0 auto;
    }
    #container-contact section:nth-child(2) {
        background-color: lightgrey;
        width: 100vw;
        height: 65vh;
    }
}


/********************** CONTACTO ***********************/


/********************** OPINIONES ***********************/

#container-opinion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

#container-opinion section {
    width: 20vw;
    text-align: center;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
}

#container-opinion section:hover {
    border: 1px solid lightsalmon;
    box-shadow: 10px 5px 5px lightgray;
}

#container-opinion section:last-child {
    margin-bottom: 0;
}

#container-opinion section img {
    width: 100%;
}

@media screen and (max-width: 575px) {
    #container-opinion section {
        width: 100vw;
    }
}


/********************** OPINIONES ***********************/


/********************** EJERCICIOS ***********************/


/*                      PIERNAS                          */


/*
background: #6464c8;
background: #c86464;
background: #c81418;
background: #c98418;
*/

main article:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

main article:nth-child(2):hover {
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

main article:nth-child(2) a:nth-child(1) {
    width: 29vw;
    text-align: center;
    border-right: 1px solid black;
}

main article:nth-child(2) a:nth-child(1):hover {
    font-weight: bold;
    text-decoration: underline #6464c8;
    cursor: pointer;
}

main article:nth-child(2) a:nth-child(1) img {
    width: 25vw;
}

main article:nth-child(2) a:nth-child(2) {
    width: 29vw;
    text-align: center;
    border-right: 1px solid black;
}

main article:nth-child(2) a:nth-child(2):hover {
    font-weight: bold;
    text-decoration: underline #6464c8;
    cursor: pointer;
}

main article:nth-child(2) a:nth-child(2) img {
    width: 25vw;
}

main article:nth-child(2) a:nth-child(3) {
    width: 27vw;
    text-align: center;
}

main article:nth-child(2) a:nth-child(3):hover {
    font-weight: bold;
    text-decoration: underline #6464c8;
    cursor: pointer;
}

main article:nth-child(2) a:nth-child(3) img {
    width: 25vw;
}


/*                      PIERNAS                          */


/*                      BRAZOS                          */

#main-arms article:nth-child(2) a:nth-child(2) img {
    width: 16vw !important;
}

#main-arms article:nth-child(2) a:nth-child(3) img {
    width: 28vw;
}


/*                      BRAZOS                          */


/********************** EJERCICIOS ***********************/