* {
    box-sizing: border-box;
}


/**************************** SCROLLBAR *****************************/

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media screen and (max-width: 575px) {
    body::-webkit-scrollbar {
        width: 0em;
    }
}


/**************************** SCROLLBAR *****************************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0 3%;
    background-image: url('../images/bg_2.jpg');
}

a {
    text-decoration: none;
    color: gray;
    font-size: 22px;
}

a:hover {
    color: lightsalmon;
}

header,
footer {
    background: white;
    height: 10vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}

.main-nav {
    display: flex;
    align-items: center;
    color: gray;
    border-radius: 3px;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
}

.main-nav li {
    margin-right: 1em;
}

.main-nav>form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.main-nav input {
    flex: 1;
}

.main-nav button {
    background: white;
    border: 0;
    border-radius: 1em;
    color: orangered;
    padding: 0 1em;
    margin-left: .3em;
}

@media screen and (max-width: 575px) {
    body {
        padding: 0;
    }
    .main-nav {
        flex-direction: column;
    }
    .main-nav ul {
        flex-direction: row;
        /* Change this to 'column' to stack the links */
        margin-bottom: 1em;
    }
}


/********************** FOTOS PRINCIPALES + MENSAJE ***********************/

#main-photos {
    order: 1;
}

#main-photos>article {
    background-image: url('../images/hero_b1_1.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-items: center;
}

#main-photos h1 {
    font-size: 7vh;
    font-weight: bold;
}

#main-photos span {
    font-size: 4vh;
    font-weight: bold;
}


/********************** FOTOS PRINCIPALES + MENSAJE ***********************/


/********************** GALERIA DE FOTOS ***********************/

#gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    order: 2;
}

#gallery section {
    width: max-content;
    font-size: xx-large;
    width: 100%;
    color: gray;
}

#gallery>article {
    width: 400px;
    border: 1px solid lightgray;
    padding: 0;
    margin: 10px;
}

#gallery>article img {
    width: 398px;
}

#gallery>article div h2 {
    font-size: 1em;
}

#gallery>article div p {
    font-size: .5em;
    margin: 30px;
}

#gallery>article div p a {
    border: 1px solid gray;
    color: white;
    background-color: gray;
    font-size: 1em;
    padding: 8px;
    border-radius: 10%;
}

#gallery>article div p a:hover {
    background-color: lightsalmon;
}


/********************** GALERIA DE FOTOS ***********************/


/********************** FOTO DE CARA ***********************/

#photo-face {
    display: flex;
    align-items: center;
    order: 3;
    height: 50vh;
}

#photo-face article {
    background-image: url('../images/cara.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 25vh;
    border-radius: 50%;
}


/********************** FOTO DE CARA ***********************/

footer {
    order: 4;
}